* {
  margin: 0;
  padding: 0;
}

.container01 {
  background-image: url(../images/home/01.jpg);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#logo-header {
  width: 280px;
}
#nav-text {
  font-size: 18px;
  font-weight: bold;
}
.animation-content {
  color: $paragraph-color;
  margin-top: 275px;
  &hover {
    background-color: $paragraph-color;
    color: $paragraph-hover;
    font-weight: bold;
  }
}
.arrow-down {
  width: 170px;
  height: auto;
}
.container02 {
  background-image: url(../images/home/03.jpg);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.animation-content2 {
  color: $paragraph-color;
  margin-top: 255px;
  &hover {
    background-color: $paragraph-color;
    color: $paragraph-hover;
    font-weight: bold;
  }
}

@media (max-width: 420px) {
  #nav-text {
    justify-content: center;
    gap: 15px;

    button {
      background-color: $hamburguer-color;
    }
  }
}
