@charset "UTF-8";
/*FONTES*/
/*font-family: 'Passion One', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@font-face {
    font-family: 'siracha' ;
    src: url('../fonts/siracha/Sriracha-Regular.ttf') format('truetype');
}
:root{
    --cor1: #ffffff;
    --cor2: #000000;
    --cor-box: #0000006c;
    --cor-link: #808080c4;
    
    --fonte-destaque: 'Passion One', cursive;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-texto: 'siracha', cursive, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: var(--cor2);
    text-align: center;
    font-family: var(--fonte-destaque);
    color: var(--cor1);
    margin: auto;
    padding: 30px;
}
header h1{
    font-size: 4em;
}
header p{
    font-size: 15px;
}
body{
    background-color: var(--cor1);
}
body a{
    text-decoration: none;
    color: var(--cor1);
}
body a:hover{
    text-decoration: underline;
    color:var(--cor-link);

}
body a::after{
    content: '\00A0\2197';
}

main{
    font-family: var(--fonte-texto);
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.4em;
}

section.conteudo{
    max-width: 250px;
    text-align: justify;  
    padding-top: 10vh;
    padding-bottom:10vh;
    padding-left: 3vw;
    
}
section#cont1{ 
    background: black url(../imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
    color: var(--cor1);
    padding-top: 10vh;
    padding-bottom:10vh;
}
section#cont2{
    background: black url(../imagens/background002.jpg) right center no-repeat fixed;
    background-size: cover;
    color: var(--cor1);
    padding-top: 10vh;
    padding-bottom:10vh;
}
div#q1{
    background-color: var(--cor-box) ;
    max-width: 250px;
    padding: 5vh 5vw 5vh 3vw;
}
div#q2{
    background-color: var(--cor-box);
    max-width: 250px;
    padding: 5vh 5vw 5vh 3vw;
}
footer{
    text-align: center;
    font-family: var(--fonte-destaque);
    padding: 10px;
    background-color: var(--cor2);
    color: var(--cor1);
    margin: auto;
}