.container00 {
  &.container05 {
    background-image: url(../images/falcon9/01.jpg);
  }
  &.container06 {
    background-image: url(../images/falcon9/02.jpg);
  }
  &.carousel01 {
    background-image: url(../../images/falcon9/03.jpg);
  }
  &.carousel02 {
    background-image: url(../../images/falcon9/04.jpg);
  }
  &.carousel03 {
    background-image: url(../../images/falcon9/05.jpg);
  }
  &.carousel04 {
    background-image: url(../../images/falcon9/06.jpg);
  }
  &.carousel05 {
    background-image: url(../../images/falcon9/07.jpg);
  }
  &.container07 {
    background-image: url(../../images/falcon9/08.jpg);
  }
}
.text-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.tittle-falcon9 {
  font-size: 100px;
  font-weight: bold;
  text-shadow: #0000006e 4px 2px 8px;
}
.subTitle-falcon9 {
  font-size: 18px;
  text-shadow: #0000006e 4px 2px 8px;
}
.numbers {
  min-height: 40vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 80px;
    font-weight: bold;
  }
  p {
    font-size: 18px;
  }
}
.conteiner-description {
  display: grid;
  justify-content: left;
  align-items: center;
  margin-left: 5%;
  height: 90vh;
  width: 650px;
  .falcon-description {
    font-size: 20px;
    line-height: 50px;
  }
}
#overPostion {
  width: 600px;
  margin-left: 10%;
  padding-top: 15%;
}
.tittleOver {
  font-size: 50px;
  font-weight: bold;
}
.subTittleOver {
  font-size: 20px;
}
.caroulselEdit {
  img {
    height: 100vh;
  }
}
.img-description {
  background-color: black;
}
.descriptionDownload {
  height: 90vh;
  background-color: black;
  display: grid;
  justify-content: center;
  align-items: center;
  p {
    font-size: 25px;
  }
  #anchor-description {
    color: $copy-color;
    text-decoration: none;
    &:hover {
      color: $color-hover;
    }
  }

  button {
    border: 2px solid white;
    margin-right: 13px;
  }
}

@media (max-width: 620px) {
  .tittle-falcon9 {
    font-size: 80px;
  }
  .subTitle-falcon9 {
    font-size: 15px;
  }
  .numbers {
    h1 {
      font-size: 50px;
      font-weight: bold;
    }
    p {
      font-size: 14px;
    }
  }
  .conteiner-description {
    margin-left: 2%;
    width: auto;
    .falcon-description {
      font-size: 17px;
      line-height: 40px;
    }
  }
  #overPostion {
    width: auto;
    margin: auto;
  }
  .tittleOver {
    font-size: 30px;
  }
  .subTittleOver {
    font-size: 17px;
  }
  .descriptionDownload {
    p {
      font-size: 15px;
    }
    button {
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 440px) {
  .tittle-falcon9 {
    font-size: 50px;
  }
  #overPostion {
    padding-top: 20%;
  }
}
