.container00 {
  &.container08 {
    background-image: url(../../images/humanFlight/01.jpg);
  }
  &.container09 {
    background-image: url(../../images/humanFlight/02.jpg);
  }
  &.container10 {
    background-image: url(../../images/humanFlight/03.jpg);
  }
  &.container11 {
    background-image: url(../../images/humanFlight/04.jpg);
  }
  &.container12 {
    background-image: url(../../images/humanFlight/05.jpg);
  }
}

.textDesc-box {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}
.tittle-human {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
.subTitle-human {
  font-size: 20px;
}
.descBox-human {
  background-color: black;
  min-height: 20vh;
  font-size: 20px;
  text-align: center;
  padding: 20% 0;
}
.text-containerHumanRigth {
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 300px;
  margin-right: 0px;
  padding-top: 200px;
  .paragraph-card {
    font-weight: 200;
  }
  .tittle-humanBox {
    font-weight: bold;
    font-size: 40px;
  }
}
#btn-explore {
  width: 150px;
  padding: 15px;
}
.text-containerHumanLeft {
  display: flex;
  flex-direction: column;

  width: 300px;

  margin-left: 2%;
  padding-top: 200px;
}
