* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: darkgray;
}

.header {
  flex-basis: 100%;
  background-color: white;
  border: 1px solid black;
  justify-content: center;
  display: flex;
  padding: 10px;
}
.paragraph {
  font-size: 30px;
}
div.item-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap
}

.item{
  display: flex;
  flex-basis: 200px;
  height: 150px;
  background-color: white;
}

.footer {
  flex-basis: 100%;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 10px;
}
