@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  color: white;
}

.header {
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
}
.header #btn-header {
  font-size: 15px;
}
.header #btn-header:hover {
  color: #b9b9b9;
}

#logo-header {
  width: 280px;
  height: auto;
  margin-left: -15px;
  margin-right: 20px;
}

.container00 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#btn-known {
  padding: 20px;
  border: 3px solid white;
}
#btn-known:hover {
  font-weight: bold;
}

.descriptionDownload {
  height: 90vh;
  background-color: black;
  display: grid;
  justify-content: center;
  align-items: center;
}
.descriptionDownload p {
  font-size: 15px;
}
.descriptionDownload #anchor-description {
  color: #8f8f8f;
  text-decoration: none;
}
.descriptionDownload #anchor-description:hover {
  color: #b9b9b9;
}
.descriptionDownload button {
  border: 2px solid white;
  margin-top: 10%;
}

.footer {
  min-height: 10vh;
  background-color: black;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: #b9b9b9;
}

#copy-obc {
  color: #8f8f8f;
}

@media (max-width: 320px) {
  .footer {
    font-size: 11px;
  }
  #query-content {
    justify-content: center;
    align-items: center;
  }
  #logo-header {
    margin: 0px;
  }
}
.container00.container01 {
  background-image: url(../images/home/01.jpg);
}
.container00.container02 {
  background-image: url(../images/home/03.jpg);
}
.container00.container03 {
  background-image: url(../images/home/02.gif);
}
.container00.container04 {
  background-image: url(../images/home/04.jpg);
}

.text-content {
  padding-top: 200px;
}

.content-header {
  width: 450px;
  text-shadow: black 2px 2px 2px;
}

.paragraph-content {
  width: 650px;
  text-shadow: black 2px 2px 2px;
  font-size: 25px;
}

.arrown-down {
  display: inline-block;
  width: 160px;
  margin-top: 5px;
}

@media (max-width: 770px) {
  .text-content {
    padding-top: 120px;
  }
  .paragraph-content {
    width: auto;
    font-size: 18px;
  }
  .content-header {
    width: auto;
    font-size: 20px;
  }
  #logo-header {
    width: 180px;
  }
}
.container00.container05 {
  background-image: url(../images/falcon9/01.jpg);
}
.container00.container06 {
  background-image: url(../images/falcon9/02.jpg);
}
.container00.carousel01 {
  background-image: url(../images/falcon9/03.jpg);
}
.container00.carousel02 {
  background-image: url(../images/falcon9/04.jpg);
}
.container00.carousel03 {
  background-image: url(../images/falcon9/05.jpg);
}
.container00.carousel04 {
  background-image: url(../images/falcon9/06.jpg);
}
.container00.carousel05 {
  background-image: url(../images/falcon9/07.jpg);
}
.container00.container07 {
  background-image: url(../images/falcon9/08.jpg);
}

.text-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.tittle-falcon9 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.431372549) 4px 2px 8px;
}

.subTitle-falcon9 {
  font-size: 15px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.431372549) 4px 2px 8px;
}

.numbers {
  min-height: 40vh;
  padding-top: 5%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.numbers h1 {
  font-size: 50px;
  font-weight: bold;
}
.numbers p {
  font-size: 14px;
}

.conteiner-description {
  display: grid;
  padding-top: 10%;
  justify-content: left;
  align-items: center;
  height: 90vh;
  width: auto;
}
.conteiner-description .falcon-description {
  font-size: 17px;
  line-height: 40px;
}

#overPostion {
  width: auto;
  padding-top: 50%;
}

.tittleOver {
  font-size: 25px;
  font-weight: bold;
}

.subTittleOver {
  font-size: 14px;
}

#width-table {
  width: auto;
  font-size: 14px;
}

.caroulselEdit img {
  height: 100vh;
}

.img-description {
  background-color: black;
  font-size: 10px;
  width: auto;
}

@media (min-width: 750px) {
  .conteiner-description {
    padding-top: 5%;
    margin-left: 2%;
    width: 450px;
  }
  .conteiner-description .falcon-description {
    font-size: 20px;
    line-height: 45px;
  }
  .numbers h1 {
    font-size: 80px;
    font-weight: bold;
  }
  .numbers p {
    font-size: 18px;
  }
  #overPostion {
    padding-top: 15%;
    margin-left: 5%;
  }
  #width-table {
    width: 450px;
    font-size: 17px;
  }
  .img-description {
    background-color: black;
    font-size: 10px;
    width: auto;
  }
  .descriptionDownload button {
    margin-right: 15px;
  }
  .img-description {
    font-size: 15px;
  }
}
@media (min-width: 1000px) {
  #overPostion {
    width: 550px;
    padding-top: 15%;
    margin-left: 15%;
  }
  .conteiner-description {
    margin-left: 15%;
    width: 650px;
    padding-top: 2%;
  }
}
.container00.container08 {
  background-image: url(../images/humanFlight/01.jpg);
}
.container00.container09 {
  background-image: url(../images/humanFlight/02.jpg);
}
.container00.container10 {
  background-image: url(../images/humanFlight/03.jpg);
}
.container00.container11 {
  background-image: url(../images/humanFlight/04.jpg);
}
.container00.container12 {
  background-image: url(../images/humanFlight/05.jpg);
}

.textDesc-box {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}

.tittle-human {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

.subTitle-human {
  font-size: 20px;
}

.descBox-human {
  background-color: black;
  min-height: 20vh;
  font-size: 20px;
  text-align: center;
  padding: 20% 0;
}

.text-containerHumanRigth {
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 250px;
  text-align: center;
  margin-right: 0px;
  padding-top: 200px;
}
.text-containerHumanRigth .paragraph-card {
  font-weight: 200;
}
.text-containerHumanRigth .tittle-humanBox {
  font-weight: bold;
  font-size: 40px;
}

#btn-explore {
  width: 150px;
  padding: 15px;
}

.text-containerHumanLeft {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-left: 2%;
  text-align: center;
  padding-top: 200px;
}

@media (min-width: 1000px) {
  .text-containerHumanRigth {
    margin-left: 55%;
    padding-top: 15%;
    width: 500px;
    text-align: unset;
  }
  .text-containerHumanLeft {
    margin-right: 55%;
    padding-top: 15%;
    width: 500px;
    text-align: unset;
  }
  .descBox-human {
    padding: 5% 0;
  }
  .tittle-human {
    font-size: 80px;
  }
  .subTitle-human {
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
