.img-content {
  width: 765px;
  height: 400px;
}
.text-content {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  .img-content {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 425px) {
  .img-content {
    width: 100%;
    height: auto;
  }
  .text-content {
    font-size: 13px;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .text-content {
    font-size: 13px;
  }
}
